rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/{allPaths=**} {
      allow read; 
      allow write: if userId == request.auth.uid;
    }
    match /manuals/{manualID}/{allPaths=**} {
      allow read; 
      allow write: if false;
    }
  }
}
